* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.container {
  margin: 32px;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.cell {
  --w: 20px;
  width: var(--w);
  height: var(--w);
  border: 0.1px solid black;
  position: relative;
}

.taken {
  background-color: pink;
}

.candidate {
  background-color: lightblue;
}

.line,
.line-fake {
  --rotate: 0deg;
  position: absolute;
  left: 50%;
  top: 0%;
  height: 50%;
  width: 2px;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(var(--rotate));
}
.line {
  background-color: blue;
}
.line-fake {
  background-color: gray;
}
