*,
:after,
:before {
  box-sizing: border-box;
}

#root {
  --grid: 1px;
  --wall-width: 5px;
  --wall: var(--wall-width) solid black;
  --cell-width: 32px;
}

h1 {
  text-align: center;
}
.container {
  display: grid;
  justify-content: center;
  gap: var(--grid);
  grid-auto-rows: var(--cell-width);
  grid-auto-columns: var(--cell-width);
}

.cell {
  outline: var(--grid) solid gray;
  position: relative;
  transition: all 300ms linear;
}

.walls {
  position: absolute;
  background-color: black;
  z-index: 1;

  --start: calc(-0.5 * var(--wall-width) - 0.5 * var(--grid));
  --length-addition: calc(var(--wall-width) + var(--grid));
  border-radius: var(--length-addition);
}

.up-border {
  top: var(--start);
  left: var(--start);

  width: calc(100% + var(--length-addition));
  height: var(--wall-width);
}

.down-border {
  bottom: var(--start);
  left: var(--start);

  width: calc(100% + var(--length-addition));
  height: var(--wall-width);
}

.left-border {
  top: var(--start);
  left: var(--start);

  width: var(--wall-width);
  height: calc(100% + var(--length-addition));
}
.right-border {
  top: var(--start);
  right: var(--start);

  width: var(--wall-width);
  height: calc(100% + var(--length-addition));
}

.taken {
  background-color: rgb(255, 229, 234);
}

.candidate {
  background-color: rgb(201, 229, 239);
}

.line,
.line-fake {
  --rotate: 0deg;
  position: absolute;
  left: 50%;
  top: 0%;
  height: 50%;
  width: 0px;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(var(--rotate));
  outline: 2px solid blue;
}

.line {
  outline-color: rgb(71, 189, 71);
  z-index: 1;
}

.line-fake {
  outline-color: gray;
}

@media print {
  body {
    print-color-adjust: exact;
    max-width: 1199px;
  }

  .cell {
    outline: none;
  }

  .taken,
  .candidate {
    background-color: transparent;
  }

  h1,
  .controls {
    display: none !important;
  }
}
